.drawer {
  position: fixed;
  margin-top: 100px;

  .drawer-list {
    list-style-type: none;
    position: fixed;
    height: 100%;
    top: 70px;
    left: -40px;
    width: 110px;

    li {
      cursor: pointer;
      border-radius: 10px;
      height: 70px;

      span {
        transition: transform 0.3s ease-in-out;
        margin-top: 5px;
      }

      a.inactive {
        padding: 20px;
        display: flex;
        color: #707070;

        span {
          svg {
            margin-right: 5px;
            color: #707070;
          }
        }
      }

      a {
        display: flex;
        padding: 20px;
        height: 65px;
        float: left;

        span {
          svg {
            margin-right: 5px;
          }
        }
      }
      &.mini {
        a {
          justify-content: center;
          width: 65px;

          span {
            svg {
              margin: 0;
            }
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
    .logout {
      display: none;
      outline: none;
      border: none;
      background: none;
      width: 100%;
      cursor: pointer;
      color: white;
      background: #F13C20;
      padding: 20px;
      margin: 10px 0;
    }

    @media screen and (max-width: 767px) {
      .logout {
        display: unset;
      }
      .logout-hr {
        display: flex;
      }
    }
  }
}

.active {

  a {
    color: #5f5f5f;

    span {
      align-self: end;
      svg {
        fill: #659DBD;
        color: #659DBD;
      }
    }
  }
}
