.dropdown {
  position: relative;
  background: #fafafa;

  &_list {
    transition: max-height .6s ease-out;
    margin-top: 5px;
  }

  &_list-item {
    height: 55px;
    &--active {
      position: fixed;
    }
  }

  &_toggle {
    &:hover {
      background: #fff;
    }

    background: #fff;
  }
}
