.audio-card {
    margin: 20px 0;
    transition: 0.3s ease-in-out;
    padding: 15px 15px 5px 15px;
    border-radius: 10px;

    &.subscription {
        width: 100%;
    }

    .info {
        margin: 10px 0;
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .user {
            display: flex;
            width: 9vw;
            align-items: center;
            justify-content: space-evenly;
            font-weight: 600;
            color: #969696;

            img {
                width: 30px;
                height: 30px;
                border-radius: 10px;
                margin-right: 3px;
            }
        }

        div {
            display: flex;
            svg {
                color: #9f9f9f;
                width: 20px;
            }
        }
    }

    .audio-title {
        display: flex;
        color: #545454;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.skeleton {
    .avatar {
        margin-right: 2vw;
    }

    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}
