.library-container {
  width: 100%;

  .library-list {
    list-style-type: none;

    li {
      a {
        padding: 2.5vh 10vw;
        background: #659DBD;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        display: flex;
        justify-content: space-between;

        span {
          color: white;
          display: flex;

          svg {
            transition: 0.3s ease-in-out;
            color: white;
            fill: white;
            margin-right: 5px;
          }
        }

        &:hover {
          span.chevron {
            svg {
              margin-right: -5vw;
            }
          }
        }
      }
    }
  }
}

.history-link {
  display: flex;
  width: 100%;
  margin: 20px 0;
  left: 70px;
  top: 60px;
  color: black;
  position: fixed;
  font-weight: 500;

  span {
    display: flex;
    align-items: center;

    svg {
      transition: 0.3s ease-in-out;
    }
  }

  &:hover {
    color: #565656;

    span {
      svg {
        color: #565656;
        margin-right: 5vw;
      }
    }
  }
}

.history-title {
  margin-top: 40px;
}
