.stream-button {
  display: flex;
  color: white;
  width: 200px;
  font-weight: 500;
  background: #659DBD;
  justify-content: center;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.2s ease-in-out;
  margin: 20px 0;

  span {
    margin-left: 5px;
    display: flex;
    svg {
      transition: 0.2s ease-in-out;
      color: white;
      fill: white;
    }
  }

  &:hover {
    color: #659DBD;
    background: white;

    span {
      svg {
        color: #659DBD;
        fill: #659DBD;
      }
    }
  }
}

.main-container {
  width: 60vw;
}
