@import '../../../node_modules/antd/dist/antd.css';

.menu {
  padding: 0 20px;
  overflow: auto;
  height: 70px;
}

.search-open-button {
  position: fixed;
  background: none;
  border: none;
  margin-top: 20px;
  right: 45px;
  outline: none;
  display: none;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.menu__left {
  width: 150px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  left: -20px;
  float: left;

  a {
    height: 20px;
  }

  button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
}

@media screen and (max-width: 767px){
  .menu__left {
    &.search-opened {
      width: 20px;
    }
  }

  .search-open-button {
    display: unset;
    height: 27px;
  }
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .menu_left {
  float: left;
  display: flex;
}

.menu__container .menu_right {
  float: right;
}

@media screen and (max-width: 767px) {
  .menu_right {
    display: none;
  }
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important;
  background: #659DBD;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu_left, .menu__container {
    float: right;
  }
}
