.right-list {
  position: fixed;
  top: 20px;
  right: 20px;
  list-style-type: none;

  li {
    a {
      color: #707070;
      font-weight: 500;

      &:hover {
        color: #707070;
      }
    }
  }
}
