.search-form {
  margin-top: 15px;
  margin-left: 2vw;
  position: fixed;
  left: 200px;
  display: flex;
  align-items: center;

  .search-input {
    border-radius: 5px;
    outline: none;
    height: 35px;
    width: 40vw;
    transition: 0.3s ease-in-out;
    padding: 10px;
  }

  button {
    cursor: pointer;
    border: none;
    margin-left: -4vw;
    padding: 4px 5px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    outline: none;

    span {
      display: flex;
      svg {
        width: 20px;
      }
    }
  }
}

.suggestions-list {
  position: fixed;
  top: 50px;
  left: 220px;
  padding: 0;
  width: 40vw;
  list-style-type: none;
  z-index: 10;

  li {
    padding: 10px 15px;

    a {
      padding: 10px 15px;
      transition: 0.1s ease-in-out;
      cursor: pointer;
      width: 30vw;
      color: #707070;
      font-weight: 500;

      &:hover {
        color: #707070;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .suggestions-list {
    width: 60vw;
  }

  .search-input {
    width: 60vw;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    left: 50px;
  }
}
