.slider {
  display: flex;

  img {
    width: 30px;
    margin-right: 10px;
  }
}

.container {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;

  .sound {
    display: flex;

    span {
      display: flex;
      svg {
        width: 25px;
        fill: #9f9f9f;
        color: #9f9f9f;
      }
    }

  }

  .settings {
    position: fixed;
    top: 200px;
    right: 20vw;
    list-style-type: none;
    background: rgba(226, 226, 226, 0.92);
    box-shadow: 1px 1px 2px #888888;
    z-index: 5;
    padding: 0;
    width: 130px;
    transition: 0.3s ease-in-out;

    li {
      button {
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 3px 15px;
        width: 100%;
      }
      z-index: 5;
      width: 100px;
      height: 30px;
    }
  }

  ul.option {
    position: fixed;
    top: 80px;
    right: 20vw;
    overflow: scroll;
    background: #e2e2e2eb;
    box-shadow: 1px 1px 3px #888888;

    z-index: 5;
    list-style-type: none;
    padding: 0;
    width: 130px;
    height: 180px;
    transition: 0.3s ease-in-out;

    li {
      button {
        cursor: pointer;
        padding: 5px 15px;
        width: 100%;
        text-align: right;
        font-weight: 500;
        font-size: 12px;
        outline: none;
        border: none;
        background: none;
        transition: 0.1s ease-in-out;

        &:hover {
          background: #e9e9e9;
        }
      }

      &:first-child {
        button {
          text-align: left;
          outline: none;
          background: none;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
