.stream-container {
  margin-left: 20%;

  .stream-btn {
    outline: none;
    border: 2px solid #ff183b;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    padding: 5px 10px;
    cursor: pointer;
    color: #ffffff;
    background: #ff183b;

    &:hover {
      color: #ff183b;
      background: none;
    }
  }
}
