.subscribed {
    background: #f8f8f8;
    color: #4e4e4e;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}

.subscribe {
    background: #659DBD;
    color: #fdfdfd;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}

.bg-image {
    width: 100%;
    margin-top: -35px;
}

.like {
    display: flex;

    span {
        svg {
            fill: #FC4445;
        }
    }
}

.info {
    &.community {
        &.image {
            margin-top: 0px;
        }
        border: 0;
        background: #fafafa;
        padding: 9px;
        width: 100vw;
    }

    div {
        margin: 1vh 0;
    }
}

@media screen and (max-width: 500px) {
    .info {
        &.community {
            width: 100vw;
            margin-top: 9vh;
        }
        flex-direction: column;
    }
}
