.upload {
    width: 60vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e3e3e3;
    flex-direction: column;
    padding: 2vh;
    border-radius: 5px;

    div {
        font-size: 10vw;

        span {
            display: flex;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    p {
        font-size: 13px;
        color: #c8c8c8;
        font-weight: 500;
    }

    @media screen and (max-width: 767px) {
        p {
            font-size: 11px;
        }
    }
}

.active-group {
    background: #659DBD;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;

    &:hover {
        color: white;
    }
}

.inactive-group {
    background: #f8f8f8;
    border: none;
    padding: 5px 10px;
    color: #4e4e4e;
    cursor: pointer;
    outline: none;
    border-radius: 5px;

    &:hover {
        color: #4e4e4e;
    }}

.input {
    border: 2px solid #e3e3e3;
    outline: none;
    color: #585858;
    font-weight: 500;
    height: 45px;
    background: transparent;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 60vw;
    transition: 0.2s ease-in-out;

    &:focus {
        border: 2px solid #659DBD;
    }}

.textarea {
    border: 2px solid #e3e3e3;
    outline: none;
    color: #585858;
    font-weight: 500;
    resize: none;
    background: transparent;
    height: 30vh;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 60vw;
    transition: 0.2s ease-in-out;

    &:focus {
        border: 2px solid #659DBD;
    }
}

.select {
    border: 2px solid #e3e3e3;
    outline: none;
    margin-top: 20px;
    color: #585858;
    background: transparent;
    height: 45px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 10px;
    width: 60vw;
    transition: 0.2s ease-in-out;

    &:focus {
        border: 2px solid #659DBD;
    }}

.secret-link {
    margin-top: 20px;
    background: #f6f6f6;
    border-radius: 5px;
    padding: 30px 10px;
    color: #585858;

    div {
        display: flex;

        span {
            display: flex;
            margin-left: 5px;
        }
    }
}

.button {
    margin: 10px 10px 10px 0;
    width: 20vw;
    color: #659DBD;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #659DBD;
    background: transparent;
    height: 45px;
    outline: none;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        display: flex;
        margin-left: 5px;
        svg {
            fill: #659DBD;
            color: #659DBD;
            width: 15px;
            transition: 0.2s ease-in-out;
        }
    }
    &:hover {
        color: white;
        background: #659DBD;

        span {
            svg {
                fill: white;
                color: white;
                margin-right: -2vw;
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

.tags-input {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #e3e3e3;
    padding: 5px;
    border-radius: 5px;
    width: 60vw;
    display: flex;
    overflow: scroll;
    height: 45px;

    li {
        display: flex;
        white-space: nowrap;
        padding: 5px 10px;
        border-radius: 1000px;
        background: #f1f1f1;
        font-family: Helvetica, serif;
        margin-right: 5px;
        cursor: pointer;
        div {
            font-weight: 500;
            &.delete {
                display: flex;
            }

            img {
                width: 20px;
                margin-left: 3px;
            }
        }
    }
    input {
        width: 60vw;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 14px;
        font-family: Helvetica, sans-serif;
    }
}

.audio-input {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #e3e3e3;
    padding: 5px;
    border-radius: 5px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 200px;

    li {
        display: flex;
        white-space: nowrap;
        padding: 5px 10px;
        border-radius: 1000px;
        background: #f1f1f1;
        font-family: Helvetica, serif;
        margin-right: 5px;
        cursor: pointer;
        div {
            font-weight: 500;
            &.delete {
                display: flex;
            }

            img {
                width: 20px;
                margin-left: 3px;
            }
        }
    }
    input {
        width: 60vw;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 14px;
        font-family: Helvetica, sans-serif;
    }
}

.error {
    color: white;
    background: #ff3636;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 500;
}
